body div.with-strict-default-styles,
body div.with-strict-default-styles *:not(svg,path),
body div.with-strict-default-styles :after,
body div.with-strict-default-styles :before {
    all: revert !important;
}

body div.with-default-styles.elisa-events-wrapper {
    margin: 10px 0;
    padding: 10px 0;
}

body div.with-strict-default-styles.elisa-events-wrapper {
    margin: 10px 0 !important;
    padding: 10px 0 !important;
}

body div.with-default-styles.elisa-events-wrapper:first-child {
    margin-top: 0;
    padding-top: 0;
}

body div.with-strict-default-styles.elisa-events-wrapper:first-child {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

body div.with-default-styles.elisa-events-wrapper:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

body div.with-strict-default-styles.elisa-events-wrapper:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

body div.with-default-styles h2 {
    font-weight: 600;
    margin: 0 0 10px;
}

body div.with-strict-default-styles h2 {
    font-weight: 600 !important;
    margin: 0 0 10px !important;
}

body div.with-default-styles > .elisa-events-container {
    display: grid;
    gap: 25px;
    grid-template-columns: auto auto auto;
    padding: 10px 0;
}

body div.with-strict-default-styles > .elisa-events-container {
    display: grid !important;
    gap: 25px !important;
    grid-template-columns: auto auto auto !important;
    padding: 10px 0 !important;
}

body div.with-default-styles .elisa-image {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 0;
    position: relative;
}

body div.with-strict-default-styles .elisa-image {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    line-height: 0 !important;
    position: relative !important;
}

body div.with-default-styles .elisa-image img {
    width: 100%;
    object-fit: contain;
}

body div.with-strict-default-styles .elisa-image img {
    width: 100% !important;
    object-fit: contain !important;
}

body div.with-default-styles .elisa-play-button-group {
    cursor: pointer;
}

body div.with-strict-default-styles .elisa-play-button-group {
    cursor: pointer !important;
}

body div.with-default-styles .elisa-play-button-wrapper {
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #00000080;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 60%;
    justify-content: center;
    opacity: 0.8;
    position: absolute;
}

body div.with-default-styles .elisa-play-button-group:hover .elisa-play-button-wrapper,
body div.with-default-styles .elisa-play-button-wrapper:hover {
    opacity: 1;
}

body div.with-default-styles .elisa-play-button-wrapper .play-button {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 107%;
}

body div.with-default-styles .elisa-play-button-wrapper .play-button-indicator-background {
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #000c;
    border: 6px solid #1d222b;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160%;
}

body div.with-default-styles .elisa-play-button-wrapper .play-button-indicator-background .play-button-label {
    bottom: 10%;
    color: white;
    position: absolute;
}

body div.with-strict-default-styles .elisa-play-button-wrapper {
    align-items: center !important;
    aspect-ratio: 1/1 !important;
    background-color: #00000080 !important;
    border-radius: 100% !important;
    cursor: pointer !important;
    display: flex !important;
    height: 60% !important;
    justify-content: center !important;
    opacity: 0.8 !important;
    position: absolute !important;
}

body div.with-strict-default-styles .elisa-play-button-group:hover .elisa-play-button-wrapper,
body div.with-strict-default-styles .elisa-play-button-wrapper:hover {
    opacity: 1 !important;
}

body div.with-strict-default-styles .elisa-play-button-wrapper .play-button {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    position: absolute !important;
    width: 107% !important;
}

body div.with-strict-default-styles .elisa-play-button-wrapper .play-button-indicator-background {
    align-items: center !important;
    aspect-ratio: 1/1 !important;
    background-color: #000c !important;
    border: 6px solid #1d222b !important;
    border-radius: 100% !important;
    cursor: pointer !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    width: 160% !important;
}

body div.with-strict-default-styles .elisa-play-button-wrapper .play-button-indicator-background .play-button-label {
    bottom: 10% !important;
    color: white !important;
    position: absolute !important;
}

body div.with-default-styles p.date {
    font-size: 75%;
    margin-bottom: 1em;
    margin-top: 1em;
}

body div.with-strict-default-styles p.date {
    font-size: 75% !important;
    margin: 1em 0;
}

body div.with-default-styles h4 {
    font-weight: 700;
}

body div.with-strict-default-styles h4 {
    font-weight: 700 !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body div.with-default-styles > .elisa-events-container {
        display: grid;
        gap: 25px;
        grid-template-columns: auto;
        padding: 10px 0;
    }

    body div.with-strict-default-styles > .elisa-events-container {
        display: grid !important;
        gap: 25px !important;
        grid-template-columns: auto !important;
        padding: 10px 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    body div.with-default-styles > .elisa-events-container .elisa-play-button-wrapper .play-button-indicator-background .play-button-label {
        font-size: max(3vw, 18px);
    }

    body div.with-strict-default-styles > .elisa-events-container .elisa-play-button-wrapper .play-button-indicator-background .play-button-label {
        font-size: max(3vw, 18px) !important;
    }

    body div.with-default-styles > .elisa-events-container,
    body div.with-strict-default-styles > .elisa-events-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media only screen and (min-width: 768px) {
    body div.with-default-styles > .elisa-events-container .elisa-play-button-wrapper .play-button-indicator-background .play-button-label {
        font-size: 2vw;
    }

    body div.with-strict-default-styles > .elisa-events-container .elisa-play-button-wrapper .play-button-indicator-background .play-button-label {
        font-size: 2vw !important;
    }

    body div.with-default-styles > .elisa-events-container,
    body div.with-strict-default-styles > .elisa-events-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media only screen and (min-width: 992px) {
    body div.with-default-styles > .elisa-events-container .elisa-play-button-wrapper .play-button-indicator-background .play-button-label {
        font-size: 14px;
    }

    body div.with-strict-default-styles > .elisa-events-container .elisa-play-button-wrapper .play-button-indicator-background .play-button-label {
        font-size: 14px !important;
    }

    body div.with-default-styles > .elisa-events-container,
    body div.with-strict-default-styles > .elisa-events-container {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
